{% extends "layout.html" %}

{% block body %}
    <div class="container mt-5">
        {% if stock %}
            <h2>{{ stock['名稱'] }} ({{ stock['代號'] }})</h2>
            <p><strong>Average Dividend Payout:</strong> {{ stock['平均配息率'] }}%</p>
            <p><strong>Company Description:</strong>
            <p><strong>股價:</strong> {{ stock['股價'] }}</p>
            <p><strong>預估EPS:</strong> {{ stock['預估EPS'] }}</p>
            <p><strong>盈餘殖利率:</strong> {{ stock['盈餘殖利率(%)'] }}%</p>

                {{ stock['公司簡介'] if stock['公司簡介'] and stock['公司簡介'] != 'nan' else "No description available." }}
            </p>            
        {% else %}
            <h2>Stock not found</h2>
        {% endif %}
    </div>
{% endblock %}
